*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    src: url(I\ Love\ Glitter\ -\ OTF.otf);
    font-family: gliter;
}
@font-face {
    src: url(paperdaisy-demo.ttf);
    font-family: daisy;
}
.bg {
    background-image: url(deskbg.jpg);
    background-repeat: no-repeat;
    background: cover;
    min-height: 100vh;
}
.bg h3 {
    color:#8FBC8B;
    text-align: center;
    font-family: gliter;
    font-size: 50px;
    padding: 20px 0px;
    margin: 0px !important;
}
.txtb {
    border: none;
    outline: none;
    width: 100%;
    color: #FFDAB9;
    border-bottom: 1px solid black;
    background: none !important;
    font-size: 20px;
}
::placeholder {
    color: rgb(66, 42, 124);
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
.bg h6{
    color: #8FBC8B;
    font-family: daisy;
    font-size: 35px;
    font-weight: bold;
}
.finlist, .list {
    border: 22px solid transparent;
    border-image: url(christmas-light-border.png) 20% stretch;
    margin: 10px 20px;
}
.task {
    padding: 8px 15px;
}
.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 35px;
}
